* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

header h1 {
  padding: 40px 77px;
  font-size: 24px;
  font-weight: bold;
}

main {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  height: calc(100vh - 20vh);
  align-items: center;
  justify-content: center;
}

main img {
  width: 539px;
  height: 447px;
  margin-right: 3.75rem;
}

main section {
  display: flex;
  flex-direction: column;
  margin-left: 3.75rem;
}

main h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 94px;
}

main p {
  font-size: 1.5rem;
  line-height: 35px;
  margin-top: 20px;
  color: #4f4f4f;
  margin-top: 36px;
}

main a {
  text-decoration: none;
  padding: 24px;
  background: #333333;
  margin-top: 4rem;
  width: 216px;
  font-size: 14px;
  text-align: center;
  color: #fff;

  transition: background 0.2s;
}

main a:hover {
  background: #4f4f4f;
}

footer {
  padding: 20px;
  width: 100%;
  text-align: center;
}

footer p {
  font-size: 14px;
  font-weight: 500;
  color: #bdbdbd;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #bdbdbd;
}

@media (max-width: 1150px) {
  main img {
    margin-right: 0;
  }
  main section {
    margin-left: 0;
  }
}

@media (max-width: 930px) {
  header h1 {
    padding: 20px;
  }
  main {
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
  }

  main img {
    width: 286px;
    height: 238px;
    margin-top: 30px;
  }

  main h1 {
    font-size: 2.2rem;
    line-height: 70px;
    margin-top: 40px;
  }

  main p {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }

  main a {
    margin-top: 60px;
  }

  footer {
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }

  footer p {
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
  }

  footer a {
    text-decoration: none;
    font-weight: bold;
    color: #bdbdbd;
  }
}
